body {
  background-color: #f4f4f4;
  
}

.container {
  width: 80%;
  border: 3px solid #123456;
  box-shadow: 2.5px 3px 4px #123456;
}
.labels {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 2px;
  ;
}
.heading {
  text-align: center;
  text-decoration: wavy;
  margin: 10px auto;
  border-bottom: 4.5px solid #123456;
  border-radius: 4px;
}
.danger {
  color: red;
}
nav {
  margin-top: -10px;
}
.row {
  margin-bottom: 10px;
  margin-top: 10px;
}
/* .btn {
  margin: 9px auto;
  width: 100%;
  border-radius: 25px;
  background-color: #123456;
} */

input,
textarea,
select {
  width:10px;
  border: 2px solid #333 !important;
}
