doctype html
html(lang='en')
    head 
        link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor.css")
        title Vender registration 
    body 
        .container#color 
            .row.justify-content-center 
                .col-md-6 
                    .card-body 
                        block content
    footer.row.justify-content-center 
        .col-md-6 
                block footer 
                    .col-md-12 &copy All rights reserved
